<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aeshel_Livestream::post" title="Live Posts" translate="title" module="Aeshel_Livestream" sortOrder="20" parent="Magento_Backend::stores_settings" action="aeshel/post" resource="Aeshel_Livestream::post"/>
    </menu>
</config>
